.header {
    grid-area: header;
    background-color: #206A5D;
    border-radius: 10px;
}

.header img {
    width: 50px;
    padding: 3px;
    border-radius: 50%;
}
.login {
    float: right;
    margin-right: 20px;
}
.loginLink {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}